body {
  background-color: black;
}

.search-bar {
  margin: 20px;
  border-radius: 5px;
  width: 75%;
  outline: none;
  /* box-shadow: 5px 5px 10px #8888; */
}

.search-bar:focus, .search-bar:hover {
  box-shadow: 2px 2px 5px #8888;
}

/* .search-bar input {
  width: 75%;
} */

.video-item img {
  max-width: 64px;
}

.video-detail .details {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.list-group-item {
  cursor: pointer; 
  /* When cursor travels over this element it turns into the pointer */
  margin: 15px;
  border-radius: 10px;
}

.list-group-item:hover {
  background-color: #eee;
  box-shadow: 2px 2px 5px #8888;
}